body {
  background-color: #ffdcb6;
}
span {
  margin-left: 10px;
  font-weight: 800;
  font-size: 20px;
}
.heading {
  text-align: center;
  text-decoration: underline;
}
.Q {
  position: relative;
  bottom: 45px;
  left: 60px;
}

p {
  font-size: 24px;
}
